apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: commafeed-data
  namespace: commafeed
  annotations:
    longhorn.io/number-of-replicas: "2"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-static
  resources:
    requests:
      storage: 3Gi
