**/.env
.DS_Store
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/*.auto.pkrvars.hcl
**/downloaded_iso_path/
**/*.bak
**/.DS_Store
.talos/
.kube/
kubeconfig
talosconfig
svg/
*.md
!README.md
.wrangler/
**/backend.hcl
