---
all:
  children:
    proxmox:
      hosts:
        proxmox-ssh:
          ansible_host: "{{ lookup('env', 'PROXMOX_IP') }}"
          ansible_user: root
          ansible_connection: ssh
          ansible_ssh_pass: "{{ lookup('env', 'ADMIN_PASSWORD') }}"

        proxmox-tailscale:
          ansible_host: proxmox
          ansible_ssh_user: root

    vault:
      hosts:
        vault-tailscale:
          ansible_host: vault
          ansible_ssh_user: ubuntu
