ACME_EMAIL=admin@example.com
TZ=America/Toronto
GLANCE_HOSTNAME=glance.example.com
GRAFANA_HOSTNAME=grafana.example.com
FORGEJO_HOSTNAME=forgejo.example.com
N8N_HOSTNAME=n8n.example.com
UPTIME_KUMA_HOSTNAME=status.example.com
PORTAINER_HOSTNAME=portainer.example.com
DOZZLE_HOSTNAME=logs.example.com
