---
- name: Disable power off on lid close
  ansible.builtin.lineinfile:
    path: /etc/systemd/logind.conf
    regexp: "^#?{{ item.key }}="
    line: "{{ item.key }}={{ item.value }}"
    backup: yes
  loop:
    - { key: "HandleLidSwitch", value: "ignore" }
    - { key: "HandleLidSwitchDocked", value: "ignore" }
    - { key: "HandleLidSwitchExternalPower", value: "ignore" }
  register: logind_config_changed

- name: Restart systemd-logind
  ansible.builtin.systemd:
    name: systemd-logind
    state: restarted
    daemon_reload: yes
  when: logind_config_changed is changed
