---
- name: Install UFW
  ansible.builtin.apt:
    name: ufw
    state: present

- name: Set UFW default deny incoming
  community.general.ufw:
    direction: incoming
    default: deny

- name: Set UFW default allow outgoing
  community.general.ufw:
    direction: outgoing
    default: allow

- name: Allow all traffic on tailscale0
  community.general.ufw:
    rule: allow
    interface: tailscale0
    direction: in

- name: Enable UFW
  community.general.ufw:
    state: enabled

- name: Harden sshd configuration
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?{{ item.key }}\\s"
    line: "{{ item.key }} {{ item.value }}"
    validate: "sshd -t -f %s"
  loop:
    - { key: "PermitRootLogin", value: "no" }
    - { key: "PasswordAuthentication", value: "no" }
    - { key: "PubkeyAuthentication", value: "yes" }
    - { key: "MaxAuthTries", value: "3" }
  register: sshd_config_changed

- name: Restart sshd
  ansible.builtin.systemd:
    name: ssh
    state: restarted
  when: sshd_config_changed is changed
