---
- name: Configure Proxmox
  hosts: proxmox-ssh
  become: true
  tasks:
    - import_tasks: tasks/apt_update.yml
    - import_tasks: tasks/tailscale.yml
    - import_tasks: tasks/ssh_security.yml
    - import_tasks: tasks/disable_poweroff.yml
