---
- name: Update system packages
  hosts: proxmox-ssh
  become: true
  roles:
    - apt_update

- name: Install and configure Tailscale
  hosts: proxmox-ssh
  become: true
  roles:
    - tailscale

- name: Configure SSH security
  hosts: proxmox-ssh
  become: true
  roles:
    - ssh_security

- name: Disable power off on lid close
  hosts: proxmox-ssh
  become: true
  roles:
    - disable_poweroff
