---
- name: Configure SSH security
  hosts: all
  become: true
  roles:
    - ssh_security

- name: Disable power off on lid close
  hosts: all
  become: true
  roles:
    - disable_poweroff

- name: Install and configure Tailscale
  hosts: all
  become: true
  roles:
    - tailscale

- name: Update system packages
  hosts: all
  become: true
  roles:
    - apt_update
