TARGET_IP=
TAILSCALE_MAGIC_DNS_NAME=
TZ=America/Toronto
BASE_DOMAIN=seagram.cloud
ACME_EMAIL=admin@seagram.cloud
GRAFANA_ADMIN_USER=admin
FORGEJO_SSH_PORT=222
TF_VAR_cloudflare_zone_id=
SOPS_AGE_RECIPIENTS=
