TZ=America/Toronto
FORGEJO_ROOT_URL=https://forgejo.example.com/
FORGEJO_DOMAIN=forgejo.example.com
FORGEJO_SSH_DOMAIN=forgejo.example.com
FORGEJO_SSH_PORT=222
FORGEJO_DB_NAME=forgejo
FORGEJO_DB_USER=forgejo
FORGEJO_DB_PASSWORD=replace-me
